<h1>Messages for ticket <%= @ticket %> </h1>
<% if @actions.length==0%>
There are currently no results back for that ticket request<p>
Please check back tomorrow<p>

<% else %>
<% if @actions.length>1 or (@actions.length==1 and ! @actions[0].last_flag)%>
There is more than one result associated with this ticket<p>

<% end %>

<table border=1>
  <tr>
    <th align=left>Test date</th>
    
    <th align=left>Comment</th>
  </tr>
<% last_flag=0 %>
<% @actions.each do |action| %>
  <tr>
    <td align=left valign=top><%=h action.test_date.strftime("%d/%m/%y") %></td>
    <% #<td align=left><%=h @code[action.action_code.to_i-1] </td> %>
    <td align=left><%= displayComment(action.comment) %></td>
	</tr>
	<% last_flag=1 if action.last_flag %>
<% end %>
</table>

<br />
<% if last_flag ==1%>
	This series of tests is now complete.<br>
	If you have any concerns or questions please contact your doctor.<p>
<% else %>
	NB- There are more results to come for this series of tests.<p>
Please continue to check back.
<% end %>
<% end %>