Use this page to add or remove users in your <%=@listname %><p>
<table width=100%>
<tr>
<td width=50% valign=top>
<%= render(:partial => "firewall_users") %>
</td>
<td width=50% valign=top id ='greylist' class='wedgetail-form'>
<%= render(:partial => "firewall_current") %>	
</td>
</tr>
</table
>