<div class="toolbar">
  <h1 id="pageTitle"></h1>
  <a id="backButton" class="button" href="#"></a>
</div>
<form id="Login" title="Wedgetail" class="panel" selected="true" method="post" redirect="true">
  <center><%= image_tag("/images/wedgetail_logo.png") %> </center>
  <fieldset>
    <div class="row">
      <label>Name</label>
      <input type="text" name="name"/>
    </div>

    <div class="row">
      <label>Password</label>
      <input type="password" name="password"/>
    </div>
  </fieldset>
  <a class="whiteButton" type="submit" value='login' href="#" target="#">Login</a>
</form>
