<form id="Login" title="Wedgetail" class="panel" selected="true" method="post" action="/login/login" redirect="true">
  <center><%= image_tag("/images/wedgetail_logo.png") %> Logo </center>
  <fieldset>
    <div class="row">
      <label>Name</label>
      <input type="text" name="name"/>
    </div>

    <div class="row">
      <label>Password</label>
      <input type="password" name="password"/>
    </div>
  </fieldset>
  <a class="whiteButton" type="submit" value='login' href="#" target="_self">Login</a>
</form>


