 <h2>Edit Users</h2>
<table border=1>
	<% for user in @all_users %> 
	<tr>
		<td><%=user.username%></td>
		<td><%=user.family_name_given_names%></td>
		<td><%=@role[user.role]%></td>
		<td><%= user.last_access%></td>
		<td><%= link_to "Edit",:action => 'edit',:wedgetail=>user.wedgetail %></td>
 	</tr>
	<% end %> 
</table>
<%= link_to "Add user", :controller => 'login', :action => 'add_user' %> 

