<p>
  <b>Result ref:</b>
  <%=h @result_ticket.result_ref %>
</p>

<p>
  <b>Ticket:</b>
  <%=h @result_ticket.ticket %>
</p>


<%= link_to 'Edit', edit_result_ticket_path(@result_ticket) %> |
<%= link_to 'Back', result_tickets_path %>