<h1>Medications</h1>

<table border=1 id="medslist">
<tr><th>Drug</th><th>Details</th><th>Last Prescribed</th><th>Quantity Remaining</th></tr>
<% @meds.each do |med| %>
<tr><td><%= med.name %></td><td><%= med.text %></td><td><%= med.narr.created_at.strftime("%d/%m/%Y") %></td><td><%= med.remaining %></td></tr>
<% end %>
</table>