<% if @conditions and @conditions.length>0 %>

<table width=100% border=0>
	<% for  @condition in  @conditions%>
	<% if @condition%>

	<tr>
		<td>
			<%= link_to @condition.name, patient_condition_path(:patient_id=>@patient.wedgetail,:id=>@condition) %></td
		</td>
	</tr>
	<%end%>
	<%end%>
	<% @condition.name="" %>
</table>
<% end %>

