Thanks.<p>

This patient has not yet had consent confirmed by the Big Wedgie, and a permanent Wedgetail number assigned.<p>

<%= link_to 'Generate Consent Form', :action => 'consent', :wedgetail => params[:wedgetail] -%> 
<p>
	Send the signed consent form to the Big Wedgie.<p>
	Documentation is also available here.
	<blockquote>
	<a href="/docs/Wedgetail_consent_form-patient.pdf">Wedgetail Consent Form (Patients)</a><br>
	<a href="/docs/Patient_info.pdf">Patient Information on Wedgetail</a><br>
	<a href="/docs/What_is_Wedgetail.pdf">What is Wedgetail?</a><br>
	<a href="/docs/Provider_info.pdf">Information for Health Providers</a><br>
	<a href="/docs/Privacy_and_Security.pdf">Privacy and Security</a><br>
	</blockquote>