Thanks.<p>

This patient has not yet had consent confirmed by the Big Wedgie, and a permanent Wedgetail number assigned.<p>

<%= link_to 'Generate Consent Form', :action => 'consent', :wedgetail => params[:wedgetail] -%> 
<p>
Send the signed consent form to the Big Wedgie.