<p>
  <b>Name:</b>
  <%=h @activity.name %>
</p>

<p>
  <b>Agent:</b>
  <%=h @activity.agent_id %>
</p>

<p>
  <b>Timing:</b>
  <%=h @activity.timing %>
</p>


<%= link_to 'Edit', edit_activity_path(@activity) %> |
<%= link_to 'Back', activities_path %>