
<div class='wedgetail-form'>
<% form_tag :action => 'create' do %>

 <%= render :partial => 'form' %>

  <%= submit_tag "Send" %>
<% end %>
</div>
<%= link_to 'Back', :controller=> 'admin', :action => 'show', :identifier=>params[:re_id] if params[:re_id]%><p>
<%= link_to 'Back', :controller=> 'messages' if !params[:re_id]%><p>