<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<! standard>
<html> 
<head>
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE8" />
<title>Wedgetail Shared EHR</title> 
<%= stylesheet_link_tag  Pref.theme,"prototip", :media => "all" %> 

<%= javascript_include_tag :defaults %>
<%= javascript_include_tag "prototip" %>


<% if defined? @completions %>
<script src="/completions/script" type="text/javascript"></script>
<% end %>  
<% if flash[:background_print_narrative] -%>
  <script type="text/javascript">
  //<![CDATA[
    win=window.open("","","width=10 height=10");
    win.blur();
    win.document.location = 'http://' + document.location.host + '<%= url_for(:controller=>"entry",:action=>"gen_pdf",:id=>flash[:background_print_narrative]) %>';
    win.print();
    win.close();
  //]]>
</script>


<% end %>
</head> 
<body>

	
<div id="banner"> 
<img class="logo" src="/images/wedgetail_logo.gif"/>
<img src="/images/wedgetail_horiz_80.jpg" align=center /> 
</div> 
<div id="columns"> 
<div id="side"> 
<%= render :partial => 'layouts/side_links' if session[:user_id] and not controller === PageController and not params[:controller] == 'results' and not params[:controller]=='narratives' and not params[:controller]=='actions'%>

<br/>  
 
</div> 

<div id="main">  

<% if flash[:notice] -%> 
<div id="notice"><%= flash[:notice] %></div> 
<% end -%> 
<%= yield :layout %> 
</div> 
</div> 
</body> 
</html>
