<h1>Editing condition</h1>

<%= error_messages_for :condition %>

<% form_for(:condition, :url => condition_path(@condition), :html => { :method => :put }) do |f| %>
<p><b>Name</b><br />   <%= f.text_field :name%>
<p><b>Code</b><br />   <%= f.text_field :code%>
  <p>
    <%= submit_tag "Update" %>
  </p>
<% end %>

<%= link_to 'Show', condition_path(@condition) %> |
<%= link_to 'Back', conditions_path %>